<mat-toolbar color="primary">
  <span (click)="navHome()" cursor="pointer">Movie Database</span>
  <span class="fill-remaining-space"></span>
  <div *ngIf="login">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/account']">
        <mat-icon>account_box</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>